.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-365deg);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0);
  }
}
@keyframes rotator {
  0% {
    transform-origin: center center;
    transform: rotate(-365deg);
  }
  100% {
    transform-origin: center center;
    transform: rotate(0);
  }
}
.grid-wrap {
  width: 98%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
}

.grid-row {
  padding: 0 5px;
  left: -5px;
  width: 100%;
  position: relative;
}

.grid-row .grid-row .grid-1, .grid-row .grid-row .grid-2, .grid-row .grid-row .grid-3, .grid-row .grid-row .grid-4, .grid-row .grid-row .grid-5, .grid-row .grid-row .grid-6, .grid-row .grid-row .grid-7, .grid-row .grid-row .grid-8, .grid-row .grid-row .grid-9, .grid-row .grid-row .grid-10, .grid-row .grid-row .grid-11, .grid-row .grid-row .grid-12 {
  padding: 0 0 0 10px;
}

.grid-row .grid-row .grid-1:first-child, .grid-row .grid-row .grid-2:first-child, .grid-row .grid-row .grid-3:first-child, .grid-row .grid-row .grid-4:first-child, .grid-row .grid-row .grid-5:first-child, .grid-row .grid-row .grid-6:first-child, .grid-row .grid-row .grid-7:first-child, .grid-row .grid-row .grid-8:first-child, .grid-row .grid-row .grid-9:first-child, .grid-row .grid-row .grid-10:first-child, .grid-row .grid-row .grid-11:first-child, .grid-row .grid-row .grid-12:first-child {
  padding: 0;
}

.grid-row .grid-row {
  left: 0;
  padding: 0;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-inline {
  margin: auto -0.25em auto auto;
  display: block;
  float: left;
  vertical-align: top;
  padding-left: 10px;
}

.grid-1 {
  width: 8.33333%;
}

.grid-2 {
  width: 16.66667%;
}

.grid-3 {
  width: 25%;
}

.grid-4 {
  width: 33.33333%;
}

.grid-5 {
  width: 41.66667%;
}

.grid-6 {
  width: 50%;
}

.grid-7 {
  width: 58.33333%;
}

.grid-8 {
  width: 66.66667%;
}

.grid-9 {
  width: 75%;
}

.grid-10 {
  width: 83.33333%;
}

.grid-11 {
  width: 91.66667%;
}

.grid-12 {
  width: 100%;
}

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11 {
  position: relative;
}

.push-1 {
  left: 8.33333%;
}

.push-2 {
  left: 16.66667%;
}

.push-3 {
  left: 25%;
}

.push-4 {
  left: 33.33333%;
}

.push-5 {
  left: 41.66667%;
}

.push-6 {
  left: 50%;
}

.push-7 {
  left: 58.33333%;
}

.push-8 {
  left: 66.66667%;
}

.push-9 {
  left: 75%;
}

.push-10 {
  left: 83.33333%;
}

.push-11 {
  left: 91.66667%;
}

@media only screen and (max-width: 399px) {
  .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11 {
    left: 0;
  }

  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
    width: 100%;
  }

  .grid-row .grid-row .grid-1, .grid-row .grid-row .grid-2, .grid-row .grid-row .grid-3, .grid-row .grid-row .grid-4, .grid-row .grid-row .grid-5, .grid-row .grid-row .grid-6, .grid-row .grid-row .grid-7, .grid-row .grid-row .grid-8, .grid-row .grid-row .grid-9, .grid-row .grid-row .grid-10, .grid-row .grid-row .grid-11, .grid-row .grid-row .grid-12 {
    padding: 0;
    margin-right: 0;
  }
}
/*
HTML Structure
div.grid-wrap (The full container width)
    div.grid-row (The grid items container)
        div.grid-<num> (the grid item)
        div.grid-row (nested grid items container)
            div.grid-<num> (nested grid item)
*/
* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 100%;
}

a {
  text-decoration: none;
}
a.btn {
  display: block;
  background: #26bff0;
  padding: 20px 35px;
  float: left;
  color: #fff;
  border: 1px solid #000;
}
a.btn:hover {
  border: 1px solid #fff;
}

nav {
  background: #ec6451;
}
nav ul li:first-of-type {
  margin-left: -25px;
}
nav ul li a {
  display: block;
  padding: 25px 40px;
  float: left;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  font-weight: lighter;
}
nav ul li a:hover {
  background: #303030;
}

.subnav {
  padding: 6px 0px;
  border-top: 1px solid #434343;
  color: #303030;
}
.subnav a {
  display: inline-block;
  padding: 0px 6px;
  border-left: 1px solid #303030;
  color: #fff;
}
.subnav a:first-of-type {
  border-left: none;
}

section {
  background: #434343;
  padding: 50px 0px;
  color: #fff;
}
section.sidebar {
  padding: 20px;
  background: #f0f0ef;
  color: #303030;
}

footer {
  padding: 30px 0px;
  background: #f0f0ef;
}
footer ul li {
  display: block;
  padding: 8px 0px;
}
footer ul li a {
  color: #222;
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  font-weight: lighter;
}

h1 {
  font-size: 2.1rem;
  padding: 5px 0px 23px;
}

p {
  padding: 20px 0px;
}

/*# sourceMappingURL=main.css.map */
