@import './variables';
@import './mixins';
@import './grid';

* {
  box-sizing:border-box;
}


html {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:100%;
}



a {
  text-decoration:none;
  
  
  &.btn {
    display:block;
    background:$cb-brand;
    padding:20px 35px;
    float:left;
    color:#fff;
    border:1px solid #000;
    
    
    &:hover {
      border:1px solid #fff;
    }
  }
  
}


nav {
  background:$cb-jobs;
  ul {
    li {

      
      &:first-of-type {
        margin-left:-25px;
      }
      
      
      
      a {
        display:block;
        padding:25px 40px;
        float:left;
        text-align:center;
        text-decoration:none;
        text-transform:uppercase;
        color:#fff;
        font-size:1.5rem;
        font-weight:lighter;
        
        &:hover {
          background:$cb-dark;
        }
      }
    }
  }
}


.subnav {
  padding:6px 0px;
  border-top:1px solid $cb-med;
  //background:$cb-light;
  color:$cb-dark;
  
  a {
    display:inline-block;
    padding:0px 6px;
    border-left:1px solid $cb-dark;
    color:#fff;
    
    &:first-of-type {
      border-left:none;
    }
  }
}

header {
  
}




section {
  background:$cb-med;
  padding:50px 0px;
  color:#fff;
  
  &.sidebar {
    padding:20px;
    background:$cb-light;
    color:$cb-dark;
  }
}


footer {
  padding:30px 0px;
  background:$cb-light;
  
  ul {
    li {
      display:block;
      padding:8px 0px;
      a {
        color:#222;
        text-decoration:none;
        
        &:hover {
          text-decoration:underline;
        }
      }
    }
  }
}

h1, h2, h3, h4, h5 {
  font-weight:lighter;
}

h1 {
  font-size:2.1rem;
  padding:5px 0px 23px;
}

p {
  padding:20px 0px;
}


